@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  margin: 0;
  font-family:'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

.error-message {
  color: rgb(153, 59, 59);
  font-style: italic;
}

/******************** NAV **********************/

.nav-right {
  display: flex;
  align-items: center;
}

#mobile-

/******************** RESULT **********************/

#results-container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.result-container {
  border: 1px solid black;
}
